version: '3.4'
services:
  bind.dnp.dappnode.eth:
    build: ./build
    image: 'bind.dnp.dappnode.eth:0.2.3'
    container_name: DAppNodeCore-bind.dnp.dappnode.eth
    restart: always
    networks:
      network:
        ipv4_address: 172.33.1.2
    logging:
      driver: journald
networks:
  network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.33.0.0/16
